:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

main {
  padding: 5em 1em;
}

.container {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.card {
  padding: 3em 1em;
}

.card:nth-of-type(1) {
  background-color: var(--brightOrange);
  border-top-left-radius: 2.5%;
  border-top-right-radius: 2.5%;
}

.card:nth-of-type(2) {
  background-color: var(--darkCyan);
}

.card:nth-of-type(3) {
  background-color: var(--veryDarkCyan);
  border-bottom-left-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
}

.card__title {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
  color: var(--veryLightGray);
}

.card__text {
  font-family: "Lexand Deca", sans-serif;
  font-size: 1rem;
  color: var(--transparentWhite);
  line-height: 2em;
  letter-spacing: 0.5px;
}

.card__button {
  width: fit-content;
  width: -moz-fit-content;
  display: block;
  margin-top: 2em;
  background: var(--veryLightGray);
  padding: 1em 2em;
  border: solid 3px transparent;
  border-radius: 10em;
  text-decoration: none;
  font-family: "Lexand Deca", sans-serif;
  color: var(--brightOrange);
  font-size: 1rem;
}

.card:nth-of-type(2) .card__button {
  color: var(--darkCyan);
}

.card:nth-of-type(3) .card__button {
  color: var(--veryDarkCyan);
}

.card__button:hover,
.card__button:focus {
  color: var(--transparentWhite) !important;
  background: var(--brightOrange);
  border-color: var(--transparentWhite);
}

.card:nth-of-type(2) .card__button:focus,
.card:nth-of-type(2) .card__button:hover {
  background: var(--darkCyan);
}

.card:nth-of-type(3) .card__button:focus,
.card:nth-of-type(3) .card__button:hover {
  background: var(--veryDarkCyan);
}

@media only screen and (min-width: 700px) {
  .row {
    display: flex;
  }

  .main {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .component {
    width: fit-content;
  }

  .card:nth-of-type(1) {
    border-radius: 2.5% 0 0 2.5%;
  }

  .card:nth-of-type(3) {
    border-radius: 0 2.5% 2.5% 0;
  }
}
