:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

main {
  padding: 5em 1em;
}

.container {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.card {
  padding: 3em 1em;
}

.card:nth-of-type(1) {
  background-color: var(--brightOrange);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card:nth-of-type(2) {
  background-color: var(--darkCyan);
}

.card:nth-of-type(3) {
  background-color: var(--veryDarkCyan);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card__title {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
  color: var(--veryLightGray);
}

.card__text {
  font-family: "Lexand Deca", sans-serif;
  font-size: 15px;
  color: var(--transparentWhite);
  line-height: 1.75em;
}

.card__button {
  width: fit-content;
  width: -moz-fit-content;
  display: block;
  margin-top: 2em;
  background: var(--veryLightGray);
  padding: 1em 2em;
  border-radius: 10em;
  text-decoration: none;
  font-family: "Lexand Deca", sans-serif;
  color: var(--brightOrange);
  font-size: 1rem;
}

.card:nth-of-type(2) .card__button {
  color: var(--darkCyan);
}

.card:nth-of-type(3) .card__button {
  color: var(--veryDarkCyan);
}
